body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

canvas {
    border: 2px solid #333;
    margin-top: 20px;
    background-color: #fff;
}

#score {
    font-size: 24px;
    margin-top: 10px;
    color: #333;
}

#nextPageButton {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

#nextPageButton:hover {
    background-color: #45a049;
}

/* Modal styles */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
}

#startButton {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

#startButton:hover {
    background-color: #45a049;
}
